$main: #fb3640;
$primary: #364afb;
$tertiary: #fbf436;
$blue: #409EFF;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$black: #151f2d;
$gray: rgb(156 163 175 / 1);
$white-gray: #f9f9f9;